.externalToolBuilders
*.class
.settings
.classpath
.project
target
node
node_modules
dist

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# conf files
*.conf

#log files
*.log
*.db
