.search-advanced-box {
	margin-top: 5px;
	border: 1px solid #ddd;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

body {
	padding-right: 0px !important
}

.modal-open {
	overflow-y: auto;
}

.table-results-tor, .table-responsive-tor {
	margin-bottom: 0px;
}

.pager-tor {
	margin-top: 5px;
}

.table-torrent-filter > tbody > tr > td {
	vertical-align: middle;
}

.table-torrent-filter > tbody > tr > td > i {
	cursor: pointer;
}