<!DOCTYPE html>
<html
	style="font-family: sans-serif; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; color: #000 !important; text-shadow: none !important; background-color: transparent !important; -webkit-box-shadow: none !important; box-shadow: none !important; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; font-size: 10px; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta charset="UTF-8">
<title></title>
</head>
<body
	style="color: #000 !important; text-shadow: none !important; background-color: transparent !important; -webkit-box-shadow: none !important; box-shadow: none !important; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 14px; line-height: 1.42857143; margin: 0;"
	bgcolor="transparent !important">
	<style type="text/css">
a:active {
	outline: 0;
}

a:hover {
	outline: 0;
}
</style>
	<div class="table-responsive"
		style="color: #000 !important; text-shadow: none !important; background-color: transparent !important; -webkit-box-shadow: none !important; box-shadow: none !important; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; min-height: .01%; overflow-x: auto;">
		<table class="table table-striped"
			style="border-spacing: 0; border-collapse: collapse !important; color: #000 !important; text-shadow: none !important; background-color: transparent !important; -webkit-box-shadow: none !important; box-shadow: none !important; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; width: 100%; max-width: 100%; margin-bottom: 20px;"
			bgcolor="transparent !important">
			<thead
				style="color: #000 !important; text-shadow: none !important; background-color: transparent !important; -webkit-box-shadow: none !important; box-shadow: none !important; display: table-header-group; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;">
				<tr
					style="color: #000 !important; text-shadow: none !important; background-color: transparent !important; -webkit-box-shadow: none !important; box-shadow: none !important; page-break-inside: avoid; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;"
					bgcolor="transparent !important">
					<th class="col-xs-10"
						style="color: #000 !important; text-shadow: none !important; background-color: #fff !important; -webkit-box-shadow: none !important; box-shadow: none !important; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; position: static; min-height: 1px; float: none; width: 83.33333333%; text-align: left; line-height: 1.42857143; vertical-align: bottom; border-top-color: #ddd; border-top-width: 0; border-top-style: solid; border-bottom-color: #ddd; border-bottom-width: 2px; border-bottom-style: solid; display: table-cell; padding: 8px;"
						align="left" bgcolor="#fff !important" valign="bottom">Torrent</th>
					<th class="col-xs-1"
						style="color: #000 !important; text-shadow: none !important; background-color: #fff !important; -webkit-box-shadow: none !important; box-shadow: none !important; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; position: static; min-height: 1px; float: none; width: 8.33333333%; text-align: left; line-height: 1.42857143; vertical-align: bottom; border-top-color: #ddd; border-top-width: 0; border-top-style: solid; border-bottom-color: #ddd; border-bottom-width: 2px; border-bottom-style: solid; display: table-cell; padding: 8px;"
						align="left" bgcolor="#fff !important" valign="bottom">Enviar</th>
					<th class="col-xs-1"
						style="color: #000 !important; text-shadow: none !important; background-color: #fff !important; -webkit-box-shadow: none !important; box-shadow: none !important; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; position: static; min-height: 1px; float: none; width: 8.33333333%; text-align: left; line-height: 1.42857143; vertical-align: bottom; border-top-color: #ddd; border-top-width: 0; border-top-style: solid; border-bottom-color: #ddd; border-bottom-width: 2px; border-bottom-style: solid; display: table-cell; padding: 8px;"
						align="left" bgcolor="#fff !important" valign="bottom">Download</th>
				</tr>
			</thead>
			<tbody
				style="color: #000 !important; text-shadow: none !important; background-color: transparent !important; -webkit-box-shadow: none !important; box-shadow: none !important; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;">
				{{#torrents}}
				<tr
					style="color: #000 !important; text-shadow: none !important; background-color: transparent !important; -webkit-box-shadow: none !important; box-shadow: none !important; page-break-inside: avoid; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;"
					bgcolor="transparent !important">
					<td
						style="color: #000 !important; text-shadow: none !important; background-color: #fff !important; -webkit-box-shadow: none !important; box-shadow: none !important; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; line-height: 1.42857143; vertical-align: top; border-top-color: #ddd; border-top-width: 1px; border-top-style: solid; padding: 8px;"
						bgcolor="#fff !important" valign="top">
						<div class="media"
							style="color: #000 !important; text-shadow: none !important; background-color: transparent !important; -webkit-box-shadow: none !important; box-shadow: none !important; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; margin-top: 0; overflow: hidden; zoom: 1;">
							{{#movie}}
							<div class="media-left"
								style="color: #000 !important; text-shadow: none !important; background-color: transparent !important; -webkit-box-shadow: none !important; box-shadow: none !important; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; padding-right: 10px; display: table-cell; vertical-align: top;">
								<img id="rls-img" class="media-object" src="{{#movie}}{{movie.poster}}{{/movie}}" alt="..."
									style="min-width: 100px; max-width: 100% !important; color: #000 !important; text-shadow: none !important; background-color: transparent !important; -webkit-box-shadow: none !important; box-shadow: none !important; page-break-inside: avoid; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; vertical-align: middle; display: block; border: 0;">
							</div>
							{{/movie}}
							<div class="media-body"
								style="color: #000 !important; text-shadow: none !important; background-color: transparent !important; -webkit-box-shadow: none !important; box-shadow: none !important; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; overflow: hidden; zoom: 1; width: 10000px; display: table-cell; vertical-align: top;">
								<h4 class="media-heading" id="rls-title"
									style="color: #000 !important; text-shadow: none !important; background-color: transparent !important; -webkit-box-shadow: none !important; box-shadow: none !important; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; font-family: inherit; font-weight: 500; line-height: 1.1; margin-top: 0; margin-bottom: 5px; font-size: 18px;">
									{{#movie}}<a target="_blank" href="{{imdbLink}}"
										style="background-color: transparent !important; color: #000 !important; text-shadow: none !important; -webkit-box-shadow: none !important; box-shadow: none !important; text-decoration: none; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;">{{movie.title}}</a>
									({{movie.year}}) &nbsp;&nbsp;&nbsp; {{movie.imdbRating}}/10&nbsp;&nbsp;({{movie.imdbVotes}} votos) {{/movie}} {{^movie}}<a target="_blank" href="{{link}}"
										style="background-color: transparent !important; color: #000 !important; text-shadow: none !important; -webkit-box-shadow: none !important; box-shadow: none !important; text-decoration: none; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;">{{name}}</a>
									{{/movie}}
								</h4>
								{{#movie}}
								<h6 style="color: #000 !important; background-color: transparent !important; font-family: inherit; font-weight: 500; line-height: 1.42857143; font-size: 12px; margin: 0">{{movie.originalTitle}}</h6>
								{{/movie}}
								<p id="rls-plot"
									style="color: #000 !important; text-shadow: none !important; background-color: transparent !important; -webkit-box-shadow: none !important; box-shadow: none !important; orphans: 3; widows: 3; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; margin: 0 0 10px;">
									{{#movie}} {{movie.plot}} {{#youtubeLink}} <br>
									<br>
									<a href="{{youtubeLink}}">Assistir Trailer</a> {{/youtubeLink}} {{/movie}} {{#movie}} <br>
									<br> {{/movie}} <a href="{{link}}">Página do torrent</a>
									<br> Release: {{name}}
								</p>
							</div>
						</div>
					</td>
					<td
						style="color: #000 !important; text-shadow: none !important; background-color: #fff !important; -webkit-box-shadow: none !important; box-shadow: none !important; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; line-height: 1.42857143; vertical-align: top; border-top-color: #ddd; border-top-width: 1px; border-top-style: solid; padding: 8px;"
						bgcolor="#fff !important" valign="top">{{#seedboxes}}| <a target="_blank" href="{{& baseUrl}}/UploadTorrentToSeedbox.vnt?seedbox={{id}}&torrent={{stringify}}&c=true"
						style="background-color: transparent !important; color: #000 !important; text-shadow: none !important; -webkit-box-shadow: none !important; box-shadow: none !important; text-decoration: none; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;">{{name}}</a>{{/seedboxes}}
					</td>
					<td
						style="color: #000 !important; text-shadow: none !important; background-color: #fff !important; -webkit-box-shadow: none !important; box-shadow: none !important; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; line-height: 1.42857143; vertical-align: top; border-top-color: #ddd; border-top-width: 1px; border-top-style: solid; padding: 8px;"
						bgcolor="#fff !important" valign="top"><a href="{{& baseUrl}}/DownloadTorrent.vnt?torrent={{stringify}}" target="_blank"
						style="background-color: transparent !important; color: #000 !important; text-shadow: none !important; -webkit-box-shadow: none !important; box-shadow: none !important; text-decoration: none; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;">Down</a></td>
				</tr>
				{{/torrents}}
			</tbody>
		</table>
	</div>
</body>
</html>